.language-selector
  display: inline-block
  list-style-type: none
  margin: 0
  text-indent: 0
  
  li
    display: inline-block
    
    input[type=radio]
      opacity: 0
      width: 0
    
      & + span
        border-radius: .2em
        color: grey
        padding: .2em .5em
        margin: .2em
        opacity: 0.3
    
      &:checked + span
        color: black
        opacity: 1

.grommetux-select
  display: inline-block
  margin-left: .5em
  vertical-align: middle