.language-selector
  display: inline-block
  list-style-type: none
  margin: 0
  text-indent: 0
  
  li
    display: inline-block
    
    input[type=radio]
      opacity: 0
      width: 0
    
      & + span
        border-radius: .2em
        font-size: .8em
        padding: .2em .5em
        margin: .2em

.grommetux-select
  display: inline-block
  margin-left: .5em
  vertical-align: middle