.talk-comment-buttons-container
  button
    background: white
    border: 1px solid #555
    font-size: .8em
    line-height: 1.1
    padding: .4em

.editor-area
  height: 90%
  overflow: scroll

  textarea
    width: 90%
    height: 100%

.markdown-editor-preview
  display none
  
[data-previewing=true]
  .editor-area
    .markdown-editor-preview
      display: block
    textarea
      display: none
