.modal-body
  min-width: 60vw

  .talk-comment-buttons-container
    white-space: nowrap

    button:not(grommetux-button):not(.grommetux-button--box)
      background: white
      font-size: .8em
      line-height: 1.1
      min-width: 0
      padding: .2em

  .editor-area
    height: 90%
    overflow: scroll

    textarea
      width: 100%
      height: 100%

  .markdown-editor-preview
    display none
  
  [data-previewing=true]
    .editor-area
      .markdown-editor-preview
        display: block
      textarea
        display: none
