.field-editor
  display: flex
  font-size: 1em
  border-bottom: 1px solid black
  padding-top: 1em
  
  h3
    flex: 1
    font-size: 1em
    font-weight: bold
    position: relative
    vertical-align: middle
    
  .grommetux-button
    height: 2em
    font-size: 0.9em
    padding: 0.1em
    vertical-align: middle
  
  > p
  > div
    flex: 2