.field-editor
  font-size: 1em
  border-bottom: 1px solid black
  padding-top: 1em
  
  h3
    font-size: 1em
    font-weight: bold
    vertical-align: middle
    
  .grommetux-button
    height: 2em
    font-size: 0.9em
    padding: 0.1em
    vertical-align: middle